body {
    width: 960px;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
}

header {    
    text-align: center;
    background-color: rgb(237, 237, 242);
    border-radius: 12px;
    box-shadow: 2px 2px 6px  black;
}

main {
    margin-top: 20px;    
    border-radius: 12px;
    background-color: #f4f3f3;
    color: rgb(6, 6, 6);
    box-shadow: 2px 2px 6px black;
}
#container{
    text-align: center;
}
form {
    text-align: center;
    padding: 20px;
}
div{
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}
label{
    font-weight: 500;
     
}
#mensaje{
    color: blue;
}
footer {
    text-align: center;
    font-size: 12px;
    font-weight: 800;
    margin-top: 20px;    
    background-color:rgb(237, 234, 234);    
    border-radius: 12px;
    box-shadow: 2px 2px 6px black;
}

@media all and (min-width: 600px) and (max-width:1023px){
    body,
    header,
    main,
    footer {
            width: 580px;
            margin-right: auto;
            margin-left: auto;
        }
    } /* fin de la minima 600  */

@media all and (max-width:599px){
    body, 
    header,
    main,
    footer {
        width: 95%;
        margin-right: auto;
        margin-left: auto;
    }
}/* Fin de la maxima 599 */   