body {
    width: 960px;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
}

header {
    height: 70px;
    background-color: rgb(32, 23, 198)
}

main {
    background-color: #efcaca;
    color: rgb(49, 21, 151);
}

footer {
    background-color:black;
    height: 70px;
    color: white;
}

@media all and (min-width: 600px) and (max-width:1023px){
    body,
    header,
    main,
    footer {
            width: 580px;
            margin-right: auto;
            margin-left: auto;
        }
    } /* fin de la minima 600  */

@media all and (max-width:599px){
    body, 
    header,
    main,
    footer {
        width: 95%;
        margin-right: auto;
        margin-left: auto;
    }
}    